<% layout('/layouts/boilerplate') %>

<div class="container mt-5">
  <div class="alert alert-success">Payment successful! The listing will be marked as sold shortly.</div>
  <a href="/listings" class="btn btn-primary">Back to Listings</a>
</div>
